<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<footer class="footer" th:fragment="footer">

    <div class="footer-container">

        <h2>Smoly</h2>

        <p>
            Smart URL Shortener & Digital Certificate Platform
        </p>

        <div class="footer-links">

            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Contact</a>

        </div>

        <p class="copyright">
            © 2026 Smoly. All rights reserved.
        </p>

    </div>

</footer>

</body>
</html>